<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--<section type="AutoConfig.Sample.Configuration.SampleConfigSection, AutoConfig.Sample" name="SampleConfigSection"/>-->
		<section type="AutoConfig.AutoConfigSection, AutoConfig" name="SampleConfigSection"/>
	</configSections>
	<SampleConfigSection>
		<login>UserName</login>
		<password>VeryDifficultPassword</password>
		<interval>01:23:45</interval>
	</SampleConfigSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>